<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

<p>
    Splurty is a database-powered quotes generator created by <a target="_blank" href="https://github.com/ce8244a">Christine Elasigue</a>. This app was written in HTML, CSS3 and Ruby code on the Rails framework.  Splurty is a core project from the <a target="_blank" href="https://www.thefirehoseproject.com">Firehose Project</a>.
  </p>
  <br />
  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'CME.jpg', class: 'img-responsive' %>
  </div>
  
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Christine Elasigue</h2> 
    <br />
    <p>
    Christine is a staffer at the Senate Photo Studio.  She previously worked at Time Magazine and the National Geographic Channel.  She has a master's degee in Interactive Journalism from American University.
  </p>
    <br />

    She is currently a student at the Firehose Project and lives in Maryland.
    <br />
  </div>
  <br class="clear" />


  </div>

  <br class="clear" />
<br />
<br />
<br />